body{
    background-color:#cfceca;
  }
  
  .logo
  {
    border-style:solid;
    border-color:black;
    border-width:5px;
    border-radius:50%;
    width:100px;
    height:100px;
    position:relative;
    top:40px;
    left:7em;
  }
  h1{
   
    font-size:35px;
    position:relative;
    top:20px;
    }
  
  header
  {
   
    background-color:#ffed4a;
    display:flex;
    z-index:2;
  } 
  .end{
    
    display:flex;
     justify-content:flex-end;
   
  }
  
  nav{
    display:flex;
    flex-direction:row;
     position:relative;
    bottom:3em;
   }
  
  a{
       font-size:30px;
       padding-right:50px;
       color:black;
  }
  .bar
  {
    border-color:black;
    border-width:3px;
    width:20em;
    height:2em;
    position:relative;
    right:5em;
    border-radius:5px;
  }
  .flex
  {
    display:flex;
    justify-content:center;
   
  }
  button
  {
    color:white;
    background-color:green;
    font-size:20px;
    border-radius:5px;
    }
  .text
  {
    
    text-align:justify;
    font-size:25px;
    width:50vw;
  }
  .box
  {
    padding-top:10px;
   width:20em;
    height:30em;
    border-width:5px;
    border-color:black;
    border-style:solid;
    background-color:#4f5254;
    border-radius:10px;
    }
  
  h3{
    color:white;
    font-weight:bold;
    font-size:25px;
    text-align:center;
   }
  h4{
    font-size:30px;
    text-align:center;
    color:#c5d7e3;
  }
  .img1
  {
    width:200px;
    height:200px;
    border-radius:50%;
  }
  .butt
  {
    background-color:yellow;
    color:black;
    font-weight:bold;
    font-size:30px;
    margin-top:20px;
    border-width:5px;
    border-radius:5px;
    border-color:black;
  }
  .butt:hover{
    background-color:#87bdf5;
  }