.bg{
  background-color:#8eaba9;
}
h1{
  text-align:center; 
  font-family:Brush Script MT, Brush Script Std, cursive;
  font-size:60px;
  
}
.background{
  width:70%;
  height:100em;
  background-color:white;
  border-radius:15px;
}
.centerbox{
  display:flex;
  justify-content:center;
}
#size
{
  font-size:30px;
  text-align:center;
  position:relative;
  bottom:20px;
  font-family:Brush Script MT, Brush Script Std, cursive;
}
.center{
  padding:0px 0px 0px 30px;
}
.text
{
  
  font-size:40px;
  font-weight:bold;
}
.box1
{
  border-color:black;
  border-radius:5px;
width:25em;
height:2.5em;
  font-size:20px;
}
.box2
{
   border-color:black;
  border-radius:5px;
  margin-right:33px;
}
.box3
{
  border-color:black;
  border-radius:5px;
height:2.5em;
  font-size:20px;
}
.text1
{
  font-size:25px;
  font-weight:bold;
}
.box4
{
    border-color:black;
  border-radius:5px;
  margin-right:30px; 
  }

.box5
{
  font-size:20px;
  width:30em;
  height:5em;
  border-color:black;
  border-radius:5px;
 
  }
button
{
  background-color:#023d04;
  font-size:30px;
  color:white;
  position:relative;
  top:1em;
  border-radius:5px;
}

.butt
{
  display:flex;
  justify-content:center;
}